<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.pittypanda.plugins.couch.category"
            class="com.pittypanda.plugins.couch.CouchWizard"
            descriptionImage="icons/couchdb-logo.png"
            icon="icons/couchdb-icon.png"
            id="com.pittypanda.plugins.couch.wizard"
            name="CouchDB Application"
            project="true">
         <description>
            Create a CouchDB Application
         </description>
      </wizard>
      <category
            id="com.pittypanda.plugins.couch.category"
            name="CouchDB">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.pittypanda.plugins.couch.commands.push"
            name="Push">
      </command>
      <command
            id="com.pittypanda.plugins.couch.commands.view"
            name="View">
         <commandParameter
               id="com.pittypanda.plugins.couch.commands.parameter"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.pittypanda.plugins.couch.commands.list"
            name="List">
         <commandParameter
               id="com.pittypanda.plugins.couch.commands.parameter"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.pittypanda.plugins.couch.commands.show"
            name="Show">
         <commandParameter
               id="com.pittypanda.plugins.couch.commands.parameter"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.pittypanda.plugins.couch.commands.filter"
            name="Filter">
         <commandParameter
               id="com.pittypanda.plugins.couch.commands.parameter"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.pittypanda.plugins.couch.commands.function"
            name="Function">
         <commandParameter
               id="com.pittypanda.plugins.couch.commands.parameter"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.pittypanda.plugins.couch.commands.vendor"
            name="Vendor">
         <commandParameter
               id="com.pittypanda.plugins.couch.commands.parameter"
               name="name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.pittypanda.plugins.couch.toolbar">
            <command
                  commandId="com.pittypanda.plugins.couch.commands.push"
                  disabledIcon="icons/disabled.gif"
                  icon="icons/bridge.png"
                  label="Deploy CouchApp"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               commandId="com.pittypanda.plugins.couch.commands.generate"
               icon="icons/bridge.png"
               label="Generate CouchDB">
            <command
                  commandId="com.pittypanda.plugins.couch.commands.view"
                  label="View..."
                  style="push">
               <parameter
                     name="com.pittypanda.plugins.couch.commands.parameter"
                     value="view">
               </parameter>
            </command>
            <command
                  commandId="com.pittypanda.plugins.couch.commands.list"
                  label="List..."
                  style="push">
               <parameter
                     name="com.pittypanda.plugins.couch.commands.parameter"
                     value="list">
               </parameter>
            </command>
            <command
                  commandId="com.pittypanda.plugins.couch.commands.show"
                  label="Show..."
                  style="push">
               <parameter
                     name="com.pittypanda.plugins.couch.commands.parameter"
                     value="show">
               </parameter>
            </command>
            <command
                  commandId="com.pittypanda.plugins.couch.commands.filter"
                  label="Filter..."
                  style="push">
               <parameter
                     name="com.pittypanda.plugins.couch.commands.parameter"
                     value="filter">
               </parameter>
            </command>
            <command
                  commandId="com.pittypanda.plugins.couch.commands.function"
                  label="Function..."
                  style="push">
               <parameter
                     name="com.pittypanda.plugins.couch.commands.parameter"
                     value="function">
               </parameter>
            </command>
            <command
                  commandId="com.pittypanda.plugins.couch.commands.vendor"
                  label="Vendor..."
                  style="push">
               <parameter
                     name="com.pittypanda.plugins.couch.commands.parameter"
                     value="vendor">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.pittypanda.plugins.couch.nature">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.core.resources.natures"
              id="com.pittypanda.plugins.couch.nature"
              name="CouchApps Nature">
     <runtime>
       <run class="com.pittypanda.plugins.couch.Nature"></run>
     </runtime>
   </extension>
   <extension point="org.eclipse.ui.ide.projectNatureImages">
     <image icon="icons/overlay.gif"
            natureId="com.pittypanda.plugins.couch.nature"
            id="com.pittypanda.plugins.couch.natureimage">
     </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.pittypanda.plugins.couch.commands.PushHandler"
            commandId="com.pittypanda.plugins.couch.commands.push">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.pittypanda.plugins.couch.nature">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.pittypanda.plugins.couch.commands.GeneratorsHandler"
            commandId="com.pittypanda.plugins.couch.commands.view">
      </handler>
      <handler
            class="com.pittypanda.plugins.couch.commands.GeneratorsHandler"
            commandId="com.pittypanda.plugins.couch.commands.list">
      </handler>
      <handler
            class="com.pittypanda.plugins.couch.commands.GeneratorsHandler"
            commandId="com.pittypanda.plugins.couch.commands.show">
      </handler>
      <handler
            class="com.pittypanda.plugins.couch.commands.GeneratorsHandler"
            commandId="com.pittypanda.plugins.couch.commands.filter">
      </handler>
      <handler
            class="com.pittypanda.plugins.couch.commands.GeneratorsHandler"
            commandId="com.pittypanda.plugins.couch.commands.functionx">
      </handler>
      <handler
            class="com.pittypanda.plugins.couch.commands.GeneratorsHandler"
            commandId="com.pittypanda.plugins.couch.commands.vendorx">
      </handler>
   </extension>
</plugin>
